allennlp==1.0.0
transformers==3.0.2
cytoolz==0.10.1
pyarrow==0.17.1
pytorch_lightning==0.8.1
allennlp_models==1.0.0
funcy==1.14
spacy
jupyterlab
numpy==1.17.4
dill==0.3.1.1
tqdm==4.41.0
nltk==3.4.4
pandas==1.0.3
nlp
textblob
torch
plotly==4.9.0
torch==1.5.0
pyahocorasick==1.4.0
fuzzywuzzy==0.18.0
wandb==0.8.30
textattack
ipywidgets